<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    @*<link href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>

<body>



    <!--Page Content-->
    <div id="page-content-wrapper">

        <!--Nav Bar-->
        <div class="navbar navbar-default navbar-fixed-top">
            @*<button class="btn btn-primary" id="menu-toggle">&#9776; Menu</button>*@

            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
            @*<div class="navbar-header">
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>*@

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav faq-tabbable">
                    <li>
                        <a href="@Url.Action("PendingLists","DepartmentActingHead")" class="nav-link">
                            View Pending Request Lists
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("CurrentRepCP", "DepartmentActingHead")" class="nav-link">
                            View Current Department Rep
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ChangeRepCP", "DepartmentActingHead")" class="nav-link">
                            Change Rep and Collection Point
                        </a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right" style="margin-right:8px">

                    <li class="navbar-brand" style="padding-right:0px; padding-top:18px">
                        Welcome Back, Head &nbsp;
                    </li>


                    <li style="padding-right:8px">
                        <a href="@Url.Action("Notification","DepartmentActingHead")" style="padding-right:0px">
                            <span class="glyphicon glyphicon-bell" style="top:4px"></span>
                            <span class="badge badge-danger">5</span>
                        </a>
                    </li>


                    <li>

                        <a href="@Url.Action("Logout", "Home")" style="padding-top:18px">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Logout
                        </a>
                        @*@Html.ActionLink("Home", "Home", "StoreManager", null, new { @class = "nav-link" })*@
                        @*<button class="btn btn-primary h-100">Home</button>*@
                    </li>
                </ul>
            </div>
        </div>

        <!--Content-->
        <div class="container-fluid">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Stationery Store Inventory System, Logic University</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <input type="hidden" id="hdnSession1" value="@Request.RequestContext.HttpContext.Session["IdEmployee"]" />
    <input type="hidden" id="hdnSession2" value="@Request.RequestContext.HttpContext.Session["Role"]" />
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/DepartHeadNotification.js"></script>

    @RenderSection("scripts", required: false)
    @*<script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
        <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.js"></script>*@

    <script>
        $(function () {
            $(".faq-tabbable").find("li").each(function () {
                var a = $(this).find("a:first")[0];
                if ($(a).attr("href") === location.pathname) {
                    $(this).addClass("active");
                } else {
                    $(this).removeClass("active");
                }
            });
        })
    </script>

    <style>
        .logo {
            width: 36px;
            height: 36px;
            border-radius: 36px;
        }

        .content {
            padding: 16px;
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

        .navbar-nav > li > a {
            padding-top: 16px;
            padding-bottom: 15px;
        }

        .badge {
            display: inline-block;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: bold;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            background-color: #e60c0c;
            border-radius: 10px;
        }

        .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
            color: #555;
            background-color: #e7e7e7;
            height: 54px;
        }
    </style>

</body>
</html>