@using Team8ADProjectSSIS.Models;
@{
    ViewBag.Title = "CollectPO";
    var po = ViewData["PurchaseOrder"] as PurchaseOrder;
    var pods = ViewData["pod"] as IList<PurchaseOrderDetail>;
}

<!--Please copy paste this div-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SSIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Dashboard", "Index", "StoreClerk")</li>
                <li>@Html.ActionLink("Retrieval", "FormRetrieve", "StoreClerk")</li>
                <li>@Html.ActionLink("Disbursement", "Index", "StoreClerk")</li>
                <li class="active">@Html.ActionLink("Purchase Order", "PurchaseOrderList", "StoreClerk")</li>
                <li>@Html.ActionLink("Stock Take", "Index", "StoreClerk")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@Url.Action("Index","StoreClerk")">
                        <span id="noti-icon" class="glyphicon glyphicon-bell"><span id="noti-count" class="badge badge-pill badge-primary badge-danger">&nbsp;</span></span>
                    </a>
                </li>
                <li><a href="@Url.Action("Logout","Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<h2>Collect Purchase Order from Suppliers</h2>
<input type="hidden" id="hdnSession1" value="@Request.RequestContext.HttpContext.Session["IdEmployee"]" />
<input type="hidden" id="hdnSession2" value="@Request.RequestContext.HttpContext.Session["Role"]" />
<p>Ordered by : @po.StoreClerk.Name</p>
<p>Supplier : @po.Supplier.Name</p>
<p>Ordered Date: @po.OrderDate</p>
<p>Approved Date: @po.ApprovedDate</p>
<p>Scheduled Delivery Date: @po.DeliverDate</p>
<p>Purchase Remarks: @po.PurchaseRemarks</p>
@using (Html.BeginForm("CollectPO", "StoreClerk", FormMethod.Post, new { @id = "confirmReceiveOrder" }))
{
    <input type="hidden" name="IdPO" value="@po.IdPurchaseOrder" />
    <table class="table">
        <tr>
            <th>
                Item
            </th>
            <th>
                Order Unit
            </th>
            <th>
                Delivered Unit
            </th>
            <th>
                Delivery Remark
            </th>
        </tr>

        @{
            foreach (PurchaseOrderDetail pod in pods)
            {
                <tr>
                    <td>
                        @pod.Item.Description
                    </td>
                    <td>
                        @pod.OrderUnit
                    </td>

                    <td>
                        <input type="number" id="deliveredUnit_@pod.IdPOD" name="deliveredUnit_@pod.IdPOD" value=@pod.OrderUnit min="0" required />
                    </td>
                    <td>
                        <textarea rows="4" cols="50" id="deliveryRemarks_@pod.IdPOD" name="deliveryRemarks_@pod.IdPOD"></textarea>
                    </td>
                </tr>
            }
        }
    </table>
    <input type="submit" class="btn btn-primary" value="Delivered Items are Received" />
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/CollectPO.js"></script>
}



