@using Team8ADProjectSSIS.Models

@{
    ViewBag.Title = "DisbursementDetails";
    Disbursement disb = ViewBag.disb;
    List<DisbursementItem> disbursementItems = disb.DisbursementItems.ToList();
}

<link href="~/Styles/css/number-input.css" rel="stylesheet" />

<h5>Department: <b>@disb.Department.Name</b></h5>
@*<h5>CP: <b>@cp.Location</b></h5>*@
<h5>CP: <b>@disb.Department.CollectionPt.Location (@disb.Department.CollectionPt.Time)</b></h5>

@using (Html.BeginForm("RefreshDisbursement", "StoreClerk", FormMethod.Post))
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Qty Requested</th>
                <th scope="col">Qty from Store</th>
                <th scope="col">Qty Disbursed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DisbursementItem i in disbursementItems)
            {
                <tr>
                    <td>@i.Item.Description<input type="hidden" name="disbItemId" value="@i.IdDisbursementItem" /></td>
                    <td>@i.UnitRequested</td>
                    <td>
                        @*<input type="number" id="unitIssued@(i.IdDisbursementItem)" class="form-check-input" value="@i.UnitIssued" disabled/>*@
                        <span id="qtyFromStore@(i.IdDisbursementItem)">@i.UnitIssued</span>
                    </td>
                    <td>
                        <div class="number-input">
                            <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown();"></button>
                            <input class="qtyDisbursed" type="number" name="qtyDisbursed" id="qtyDisbursed@(i.IdDisbursementItem)" value="@i.UnitIssued" min="0" max="@i.UnitRequested" readonly/>
                            <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp();" class="plus"></button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    <input type="hidden" name="disbId" id="@disb.IdDisbursement" value="@disb.IdDisbursement" />
    <input type="submit" class="btn btn-default" value="Refresh" id="refreshBtn"/>
    <input type="submit" class="btn btn-success" formaction="@Url.Action("ConfirmDelivery")" formmethod="post" />
}

<script>
    $(document).ready(function (e) {
        //$("#refreshBtn").click(function () {
        //    var disbId = $("#disbId").val();
        //    $("#modalBodyDivDisbursement").load("/StoreClerk/DisbursementDetails?disbId=" + disbId, function () {
        //        $("#modalDisb").modal("show");
        //    })
        //})
        //$('form').submit(function () {

        // Posts the refresh data using ajax but doesn't refresh the values
        $("#refreshBtn").click(function () {
            @foreach (DisbursementItem i in disbursementItems)
            {
                @:$("#qtyFromStore@(i.IdDisbursementItem)").text($("#qtyDisbursed@(i.IdDisbursementItem)").val());
            }
            $.ajax({
            url: "/StoreClerk/RefreshDisbursement",
                type: "POST",
                data: $('form').serialize(),
                success: function (result) {
                    alert("Quantity updated and @disb.Department.Name notified");
                }
            });
            return false;
        });
    });
</script>