@using Team8ADProjectSSIS.Models

@{
    ViewBag.Title = "DisbursementDetails";
    Disbursement disb = ViewBag.disb;
    List<DisbursementItem> disbursementItems = disb.DisbursementItems.ToList();
}

<link href="~/Styles/css/number-input.css" rel="stylesheet" />

<h5>Department: <b>@disb.Department.Name</b></h5>
<h5>CP: <b>@disb.Department.CollectionPt.Location (@disb.Department.CollectionPt.Time)</b></h5>

@using (Html.BeginForm("RefreshDisbursement", "StoreClerk", FormMethod.Post, new { id="refreshDisbForm"}))
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Qty Requested</th>
                <th scope="col">Qty from Store</th>
                @if (disb.IdStatus == 10)
                {
                    <th scope="col">Qty Disbursed</th>
                }
                </tr>
        </thead>
        <tbody>
            @foreach (DisbursementItem i in disbursementItems)
            {
                <tr>
                    <td>@i.Item.Description<input type="hidden" name="disbItemId" value="@i.IdDisbursementItem" /></td>
                    <td>@i.UnitRequested</td>
                    <td>
                        <span id="qtyFromStore@(i.IdDisbursementItem)">@i.UnitIssued</span>
                    </td>
                    @if(disb.IdStatus == 10)
                    {
                        <td>
                            <div class="number-input">
                                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown();"></button>
                                <input class="qtyDisbursed" type="number" name="qtyDisbursed" id="qtyDisbursed@(i.IdDisbursementItem)" value="@i.UnitIssued" min="0" max="@i.UnitIssued" readonly/>
                                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp();" class="plus"></button>
                            </div>
                        </td>
                    } else
                    {
                        <td>
                            <input type="hidden" name="qtyDisbursed" value="@i.UnitIssued" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <br />

    <input type="hidden" name="disbId" id="@disb.IdDisbursement" value="@disb.IdDisbursement" />
    @*<input type="submit" class="btn btn-default" value="Refresh" id="refreshBtn"/>*@
    if(disb.IdStatus == 11)
    {
        @*<input type="submit" class="btn btn-success" formaction="@Url.Action("ConfirmDelivery")" formmethod="post" />*@
        <input type="submit" id="confirmDel" class="hidden" formaction="@Url.Action("ClerkSign")" formmethod="post" />
    } else if(disb.IdStatus == 10)
    {
        <button type="button" id="confirmDel" class="hidden" onclick="alert('Awaiting @disb.Department.Name\'s acknowledgement')"></button>
    }
}

<script>
    @*$(document).ready(function () {
        // Posts the refresh data using ajax and refreshes the values too!
        $("#refreshBtn").click(function () {
            @foreach (DisbursementItem i in disbursementItems)
            {
                @:$("#qtyFromStore@(i.IdDisbursementItem)").text($("#qtyDisbursed@(i.IdDisbursementItem)").val());
            }
            $.ajax({
            url: "/StoreClerk/RefreshDisbursement",
                type: "POST",
                data: $('form').serialize(),
                success: function (result) {
                    alert("Quantity updated and @disb.Department.Name notified");

                }
            });
            return false;
        });
    });*@
</script>