@using Team8ADProjectSSIS.Models
@{
    ViewBag.Title = "Disbursement";
    List<Disbursement> prepList = ViewBag.prepList;
    List<Disbursement> scheList = ViewBag.scheList;
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<h2>Disbursement hii</h2>

@using (Html.BeginForm("Schedule", "StoreClerk", FormMethod.Post))
{

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Select</th>
                <th scope="col">Department</th>
                <th scope="col">Retrieval Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (Disbursement d in prepList)
        {
            <tr>
                <td><input type="checkbox" name="disbIdsToSchedule" id="disbIdsToSchedule" value="@d.IdDisbursement" /></td>
                <td>@d.Department.Name</td>
                <td>@d.Date</td>
                <td>@d.Status.Label</td>
                <td><a href="#" class="btn btn-success" onclick="Redistribute(@d.IdDisbursement)"><i class="glyphicon glyphicon-pencil"></i></a></td>
                @*<td>@Html.ActionLink("Redistribute", "Redistribute", "StoreClerk", new { disbId = d.IdDisbursement }, null)</td>*@
            </tr>
        }
    </table>
    <input type="submit" value="Schedule" />
}



<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Department</th>
            <th scope="col">Retrieval Date</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    @foreach (Disbursement d in scheList)
    {
        <tr>
            <td>@d.Department.Name</td>
            <td>@d.Date</td>
            <td>@d.Status.Label</td>
            <td><a href="#">Details</a></td>
        </tr>
    }
</table>

<div class="modal fade" id="modalRedis">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">Redistribute</h4>
            </div>
            <div class="modal-body" id="modalBodyDivRedistribute">

            </div>
        </div>
    </div>
</div>

<script>
    var Redistribute = function (disbId) {
        var url = "/StoreClerk/Redistribute?disbId=" + disbId;

        $("#modalBodyDivRedistribute").load(url, function () {
            $("#modalRedis").modal("show");
        })
    }
</script>