@model Team8ADProjectSSIS.Models.Retrieval
@using Team8ADProjectSSIS.Models;
@{
    ViewBag.Title = "FormRetrieve";
    Boolean NoDisbursement = (Boolean)ViewData["NoDisbursement"];
    Boolean NoNewRequisition = (Boolean)ViewData["NoNewRequisition"];
    List<Retrieval> RetrievalForm = (List<Retrieval>)ViewData["RetrievalForm"];
    List<int> PKDisbursementItem = (List<int>)ViewData["PKDisbursementItem"];
    List<int> CPs = (List<int>)ViewData["CPs"];
}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SSIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Dashboard", "Index", "StoreClerk")</li>
                <li class="active">@Html.ActionLink("Retrieval", "FormRetrieve", "StoreClerk")</li>
                <li>@Html.ActionLink("Disbursement", "Disbursement", "StoreClerk")</li>
                <li>@Html.ActionLink("Purchase Order", "PurchaseOrderList", "StoreClerk")</li>
                <li>@Html.ActionLink("Stock Take", "Stocktake", "StoreClerk")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@Url.Action("Index","StoreClerk")">
                        <span id="noti-icon" class="glyphicon glyphicon-bell"><span id="noti-count" class="badge badge-pill badge-primary badge-danger">&nbsp;</span></span>
                    </a>
                </li>
                <li><a href="@Url.Action("Logout","Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<h2>Form Retrieve</h2>
<input type="hidden" id="hdnSession1" value="@Request.RequestContext.HttpContext.Session["IdEmployee"]" />
<input type="hidden" id="hdnSession2" value="@Request.RequestContext.HttpContext.Session["Role"]" />
@if (!NoDisbursement)
{
    <div class="form">
        @using (Html.BeginForm("FormRetrieve", "StoreClerk", FormMethod.Post))
        {
            <div width="513" onclick="choicetest();">
                <input type="checkbox" name="idCPs" id="CPs" value="1" />Management School
                <input type="checkbox" name="idCPs" id="CPs" value="2" />Stationery Store
                <input type="checkbox" name="idCPs" id="CPs" value="3" />Medical School
                <p></p>
                <input type="checkbox" name="idCPs" id="CPs" value="4" />Engineering School
                <input type="checkbox" name="idCPs" id="CPs" value="5" />Science School
                <input type="checkbox" name="idCPs" id="CPs" value="6" />University Hospital
            </div>
            <div>
                <input type="hidden" name="StartDate" value=@ViewBag.LastThu />
                <input type="hidden" name="EndDate" value=@ViewBag.Today />
                <input type="submit" class="btn btn-primary" value="Change" onclick="ConfirmChange()" class="btn btn-primary" />
            </div>
        }
    </div>
    <br />
    <div class="form">
        @using (Html.BeginForm("SaveDisbursement", "StoreClerk", FormMethod.Post))
        {
            <table>
                <thead>
                    <tr class="table100-head">
                        <th class="col-1">Select</th>
                        <th class="col-2">Description</th>
                        <th class="col-3">Total Needed</th>
                        <th class="col-4">Total Available</th>
                        <th class="col-5">Location</th>
                    </tr>
                </thead>
                @foreach (var retrievalform in RetrievalForm)
                {
                    <tbody>
                        <tr>
                            <td class="col-1">
                                <input type="checkbox" name="IdItemRetrieved" value="@retrievalform.IdItem" onclick="ItemValidation()"/>
                            </td>
                            <td class="col-2">@retrievalform.Description </td>
                            <td class="col-3">@retrievalform.Unit</td>
                            <td class="col-4">@retrievalform.StockUnit</td>
                            <td class="col-5">@retrievalform.Location</td>
                        </tr>
                    </tbody>
                }
            </table>
            <button type="submit" name="retrieve" class="btn btn-primary" style="padding: 10px 20px; cursor:pointer" disabled>Retrieve</button>
        }
    </div>
    <div class="form">
        @using (Html.BeginForm("PrintPdf", "StoreClerk", FormMethod.Post))
        {
            <button type="submit" class="btn btn-info" style="padding: 10px 20px; cursor:pointer">Print</button>
            <input type="hidden" name="StartDate" value="@(ViewBag.LastThu ?? String.Empty)" />
            <input type="hidden" name="EndDate" value="@(ViewBag.Today ?? String.Empty)" />
        }
        <br />
    </div>

}
else
{
    if (NoNewRequisition)
    {
        <h5 style="color:red"> No requisition found from the selected data.</h5>
    }
    else
    {
<div class="form-inline">
    @using (Html.BeginForm("FormRetrieve", "StoreClerk", FormMethod.Post, new { @class="DateSubmit", onsubmit="return DateValidation();"}))
    {
        @Html.Editor("StartDate", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = "Start Date..." } })
        @:&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.Editor("EndDate", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = "End Date..." } })
        @:&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" class="btn btn-primary" name="FormRetrieve" value="Get Retrieval Form" />

    }
</div>
    }
}

<link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

@section Scripts{

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/FormRetrieve.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
        var Today = new Date();
        var lastthu = @Html.Raw(Json.Encode(ViewBag.LastThu));
        var parts = lastthu.split('-');
        var LastThu = new Date(parts[2], parts[1] - 1, parts[0]);

        $(function () {
            $("#StartDate").datepicker({
                dateFormat: "dd-mm-yy",
                minDate: LastThu,
                maxDate: Today,
                autohide: true,
            });
            $("#EndDate").datepicker({
                dateFormat: "dd-mm-yy",
                minDate: LastThu,
                maxDate: Today,
                autohide: true,
            });
        });

        function DateValidation() {
            if ($("#StartDate").datepicker("getDate") === null) {
                alert("No Start Date Selected");
            }
            if ($("#EndDate").datepicker("getDate") === null) {
                alert("No End Date Selected");
            }
        }

        function ItemValidation() {
            var items = document.getElementsByName("IdItemRetrieved");
            var buttons = document.getElementsByName("retrieve")
            var checkedNum = 0;
            for (var i = 0; i < items.length; i++) {
                if (items[i].checked) {
                    checkedNum++;
                }
            }
            if (checkedNum != 0) {
                for (var j = 0; j < buttons.length; j++) {
                    buttons[j].disabled = false;
                }
            } else {
                for (var j = 0; j < buttons.length; j++) {
                    buttons[j].disabled = true;
                }
            }
        }

        function choicetest() {
            var choicearr = document.getElementsByName("idCPs");
            var a = 0;
            for (var i = 0; i < choicearr.length; i++)
                if (choicearr[i].checked) {
                    a = a + 1;
                }
            if (a >= 2) {
                for (var i = 0; i < choicearr.length; i++)
                    if (!choicearr[i].checked)
                        choicearr[i].disabled = 'disabled';
            } else {
                for (var i = 0; i < choicearr.length; i++)
                    choicearr[i].removeAttribute('disabled');
            }
        }

        window.onload = function () {
            var choicearr = document.getElementsByName("idCPs");
            var changeButton = document.getElementsByName("ChangeButton");
            var checkedNum = 0;
            for (var i = 0; i < choicearr.length; i++) {
                @foreach(int c in CPs)
                {
                <text>
                if (choicearr[i].value == @c)
                    choicearr[i].checked = 1;
                </text>
                }
            }

            for (var i = 0; i < choicearr.length; i++) {
                if (!choicearr[i].checked) {
                    choicearr[i].disabled = 'disabled';
                }
            }
                
            for (var i = 0; i < choicearr.length; i++) {
                
                if (choicearr[i].checked) {
                    checkedNum++;
                }
            }

            if (checkedNum != 2) {
                changeButton.disabled = true;
            }

        }

        function ConfirmChange() {
            if (!confirm("Please inform another clerk before changing your collection points address. Confirm change the cllection points ? ")) {
                window.event.returnValue = false;
            }
            else {
                window.event.returnValue = true;
            }
        }
    </script>
}
<style>
    table {
        border-spacing: 1px;
        border-collapse: collapse;
        background: white;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

        table * {
            position: relative;
        }

        table td, table th {
            padding-left: 8px;
        }

        table thead tr {
            height: 25px;
        }

        table tbody tr {
            height: 15px;
        }

    .table100-head th {
        font-family: OpenSans-Regular;
        font-size: 20px;
        color: #000000;
        line-height: 1.2;
        font-weight: unset;
        background-color: gray;
    }

    tbody tr:nth-child(even) {
        background-color: #ffffff;
    }

    tbody tr {
        font-family: OpenSans-Regular;
        font-size: 18px;
        color: #000000;
        line-height: 1.2;
        font-weight: unset;
    }

    .col-1 {
        width: 5%;
        text-align: center;
    }

    .col-2 {
        width: 35%;
        text-align: left;
    }

    .col-3 {
        width: 10%;
        text-align: center;
    }

    .col-4 {
        width: 10%;
        text-align: center;
    }

    .col-5 {
        width: 10%;
        text-align: center;
    }

    .form Button {
        float: right;
        margin: 10px
    }

    .form div {
        display: inline-block;
    }
</style>

