
@model Team8ADProjectSSIS.Models.Retrieval
@using Team8ADProjectSSIS.Models;
@{
    ViewBag.Title = "FormRetrieve";
    Boolean NoDisbursement = (Boolean)ViewData["NoDisbursement"];
    List<Retrieval> RetrievalForm = (List<Retrieval>)ViewData["RetrievalForm"];
    List<int> PKDisbursementItem = (List<int>)ViewData["PKDisbursementItem"];
}
<html>
<head>
    <!-- Bootstrap -->
    <script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css'
          media="screen" />
    <!-- Bootstrap -->
    <!-- Bootstrap DatePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Bootstrap DatePicker -->
    <script type="text/javascript">
        var Today = new Date();
            
        $(function () {
            $('#StartDate').datepicker({
                format: "dd-mm-yyyy",
                endDate: Today,
            });
            $('#EndDate').datepicker({
                format: "dd-mm-yyyy",
                endDate: Today,
            });
        });
        
    </script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "StoreClerk")</li>
                    <li class="active">@Html.ActionLink("Retrieval", "FormRetrieve", "StoreClerk")</li>
                    <li>@Html.ActionLink("Disbursement", "Index", "StoreClerk")</li>
                    <li>@Html.ActionLink("Purchase Order", "PurchaseOrderList", "StoreClerk")</li>
                    <li>@Html.ActionLink("StockTake", "Index", "StoreClerk")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-bell"></span> <span class="badge badge-pill badge-primary badge-danger">3</span></a></li>
                    <li><a href="@Url.Action("Logout","Home")"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <h2>Form Retrieve</h2>

    @if (!NoDisbursement)
    {
        using (Html.BeginForm("SaveDisbursement", "StoreClerk", FormMethod.Post))
        {
            <table>
                <thead>
                    <tr class="table100-head">
                        <th class="col-1"></th>
                        <th class="col-2">Description</th>
                        <th class="col-3">Total Needed</th>
                        <th class="col-4">Total Collect</th>
                        <th class="col-5">Total Available</th>
                    </tr>
                </thead>
                @foreach (var retrievalform in RetrievalForm)
                {
                    <tbody>
                        <tr>
                            <td class="col-1">
                                <input type="checkbox" name="IdItemRetrieved" value="@retrievalform.IdItem" />
                            </td>
                            <td class="col-2">@retrievalform.Description </td>
                            <td class="col-3">@retrievalform.Unit</td>
                            <td class="col-4">0</td>
                            <td class="col-5">@retrievalform.StockUnit</td>
                        </tr>
                    </tbody>
                }
            </table>
            <div>
                <input type="submit" value="Retrieve" />
            </div>
        }
    }
    else
    {
        <div>
            @using (Html.BeginForm("FormRetrieve", "StoreClerk", FormMethod.Post))
            {
            <table class="date">
                <tr>
                    <td><h5>Start Date: </h5></td>
                    <td>@Html.TextBox("StartDate", "", new { @class = "form-control datepicker", placeholder = ViewBag.LastThu })</td>
                    <td><h5>End Date: </h5></td>
                    <td>@Html.TextBox("EndDate", "", new { @class = "form-control datepicker", placeholder = ViewBag.Today })</td>
                    <td>
                        <input type="submit" name="FormRetrieve" value="Get Retrieval Form" />
                    </td>
                </tr>
            </table>
            }
        </div>
    }
</body> 
</html>
<style>
    table {
        border-spacing: 1px;
        border-collapse: collapse;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    table * {
        position: relative;
    }

    table td, table th {
        padding-left: 8px;
    }

    table thead tr {
        height: 25px;
    }

    table tbody tr {
        height: 15px;
    }

    .table100-head th {
        font-family: OpenSans-Regular;
        font-size: 20px;
        color: #000000;
        line-height: 1.2;
        font-weight: unset;
    }

    tbody tr:nth-child(even) {
        background-color: #ffffff;
    }

    tbody tr {
        font-family: OpenSans-Regular;
        font-size: 18px;
        color: #000000;
        line-height: 1.2;
        font-weight: unset;
    }

    .col-1 {
        width: 5%;
        text-align: center;
    }

    .col-2 {
        width: 35%;
        text-align: left;
    }

    .col-3 {
        width: 10%;
        text-align: center;
    }

    .col-4 {
        width: 10%;
        text-align: center;
    }

    .col-5 {
        width: 10%;
        text-align: center;
    }
</style>

