
@using Team8ADProjectSSIS.Models;
@{
    ViewBag.Title = "Dashboard";
    var NCs = ViewData["NCs"] as IList<NotificationChannel>;
}

<!--Please copy paste this div-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SSIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Dashboard", "Index", "StoreClerk")</li>
                <li>@Html.ActionLink("Retrieval", "FormRetrieve", "StoreClerk")</li>
                <li>@Html.ActionLink("Disbursement", "Index", "StoreClerk")</li>
                <li>@Html.ActionLink("Purchase Order", "PurchaseOrderList", "StoreClerk")</li>
                <li>@Html.ActionLink("Stock Take", "Index", "StoreClerk")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@Url.Action("Index","StoreClerk")">
                        <span id="noti-icon" class="glyphicon glyphicon-bell"><span id="noti-count" class="badge badge-pill badge-primary badge-danger">&nbsp;</span></span>
                    </a>
                </li>
                <li><a href="@Url.Action("Logout","Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<h2>Notifications</h2>
<input type="hidden" id="hdnSession1" value="@Request.RequestContext.HttpContext.Session["IdEmployee"]" />
<input type="hidden" id="hdnSession2" value="@Request.RequestContext.HttpContext.Session["Role"]" />
<button id="Unread" class="btn">Unread</button>
<button id="Read" class="btn">Read</button>
<button id="All" class="btn">All Notifications</button>


<div id="UnreadNC">
    @foreach (NotificationChannel nc in NCs)
    {
        if (nc.IsRead == false)
        {

            <div>
                <p><span>Date: @nc.Date   </span><span><button id="markasread" name="@nc.IdNC">Mark as Read</button></span></p>
                <p>@nc.Notification.Text</p>
            </div>
        }
    }
</div>


<div id="ReadNC">
    @foreach (NotificationChannel nc in NCs)
    {
        if (nc.IsRead == false)
        {
            <div>
                <p><span>Date: @nc.Date   </span><span><button id="markasunread" name="@nc.IdNC">Mark as Unread</button></span></p>
                <p>@nc.Notification.Text</p>
            </div>
        }
    }
</div>


<div id="AllNC">
    @foreach (NotificationChannel nc in NCs)
    {
        <div>
            <p><span>Date: @nc.Date   </span></p>
            <p>@nc.Notification.Text</p>
        </div>
    }
</div>


@section scripts{

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/StoreClerkIndex.js"></script>
}



