@using Team8ADProjectSSIS.Models
@{
    ViewBag.Title = "PurchaseOrderCart";
    //var PO = ViewData["POCart"] as IList<PurchaseOrder>;
    var suppliers = ViewData["SuppliersInPOCart"] as IList<Supplier>;
    //var POD = ViewData["PODCart"] as IList<PurchaseOrderDetail>;
}

<!--Please copy paste this div-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SSIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Dashboard", "Index", "StoreClerk")</li>
                <li>@Html.ActionLink("Retrieval", "FormRetrieve", "StoreClerk")</li>
                <li>@Html.ActionLink("Disbursement", "Disbursement", "StoreClerk")</li>
                <li class="active">@Html.ActionLink("Purchase Order", "PurchaseOrderList", "StoreClerk")</li>
                <li>@Html.ActionLink("Stock Take", "Stocktake", "StoreClerk")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@Url.Action("Index","StoreClerk")">
                        <span id="noti-icon" class="glyphicon glyphicon-bell"><span id="noti-count" class="badge badge-pill badge-primary badge-danger">&nbsp;</span></span>
                    </a>
                </li>
                <li><a href="@Url.Action("Logout", "Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<h2>Purchase Order Cart</h2>
<input type="hidden" id="hdnSession1" value="@Request.RequestContext.HttpContext.Session["IdEmployee"]" />
<input type="hidden" id="hdnSession2" value="@Request.RequestContext.HttpContext.Session["Role"]" />

<div id="noti-content" class="popover-content">
    <ul id="notiContent"></ul>
</div>
<div>
    @{
        if (suppliers == null || !suppliers.Any())
        {
            <p>Currently you do not have anything in your Purchase Order Cart.</p>
        }
        else
        {
            using (Html.BeginForm())
            {
                foreach (Supplier s in suppliers)
                {
                    <div class="container-fluid">
                        <div><h4>@s.Name</h4></div>
                        <div>
                            <table class="table">
                                <tr>
                                    <th>Item </th>
                                    <th>Order Unit</th>
                                    <th>Reorder Level</th>
                                    <th>Reorder Unit</th>
                                    <th>Available Unit</th>
                                    <th>Stock Unit</th>
                                    <th>Unit of Measure</th>
                                    <th>Action</th>
                                </tr>
                                @foreach (PurchaseOrder po in s.PurchaseOrders)
                                {
                                    if (po.IdStatus == 1)
                                    {
                                        foreach (PurchaseOrderDetail pod in po.PurchaseOrderDetails)
                                        {
                                            <tr>
                                                <td><input type="hidden" name="purchaseOrderID_@po.IdPurchaseOrder" value="@po.IdPurchaseOrder" /> @pod.Item.Description</td>
                                                <td><input type="number" id="target" name="orderUnit_@pod.IdPOD" value=@pod.OrderUnit /></td>
                                                <td>@pod.Item.ReorderLevel</td>
                                                <td>@pod.Item.ReorderUnit</td>
                                                <td>@pod.Item.AvailableUnit</td>
                                                <td>@pod.Item.StockUnit</td>
                                                <td>@pod.Item.unitOfMeasure</td>
                                                <td><a class="btn btn-danger" href="@Url.Action("DeletePODFromCart", "StoreClerk", new { id = pod.IdPOD })">Delete</a></td>
                                            </tr>
                                        }
                                    }
                                }
                            </table>
                        </div>
                    </div>

                }

                <div class="row">
                    <a class="btn btn-primary" href="/StoreClerk/MakePurchaseOrder">>>>Continue Shopping</a>

                </div>

                <div class="form-group" align="right">
                    <input type="submit" id="cancel" class="btn btn-primary" value="Cancel All Purchase Order" formaction="CancelAllPurchaseOrder" formmethod="post" />
                    <input type="submit" id="submitaction" class="btn btn-primary" value="Submit Purchase Order for Approval" formaction="SubmitPurchaseOrder" formmethod="post" />
                </div>
            }
        }

    }
</div>



@section scripts{

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/POCart.js"></script>

}


