@using Team8ADProjectSSIS.Models

@{
    ViewBag.Title = "Redistribute";
    Disbursement disb = ViewBag.disb;
    List<DisbursementItem> disbursementItems = disb.DisbursementItems.ToList();
}

<h5>Department: <b>@Model.Department.Name</b></h5>
@using (Html.BeginForm("ScheduleSingle", "StoreClerk", FormMethod.Post))
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Qty Requested</th>
                <th scope="col">Qty from Store</th>
                <th scope="col">Add Qty</th>
                <th scope="col">Dept From</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DisbursementItem i in disbursementItems)
                {
                    <tr>
                        <td>@i.Item.Description<input type="hidden" name="itemId" value="@i.IdDisbursementItem" /></td>
                        <td>@i.UnitRequested</td>
                        <td>@i.UnitIssued</td>
                        <td>
                            <input type="range" name="transferQtySlider" id="transferQtyInput@(i.IdDisbursementItem)" value=0 min="0" max="@i.UnitIssued" oninput='transferQtyOutput@(i.IdDisbursementItem).value = transferQtyInput@(i.IdDisbursementItem).value'/>
                            <input type="number" name="transferQtyNum" id="transferQtyOutput@(i.IdDisbursementItem)" value="0"/>
                        </td>
                        <td></td>
                    </tr>
                }

            @*@for (int i = 0; i < disbursementItems.Count; i++)
            {
            <tr>
                <td>@disbursementItems[i].Item.Description</td>
                <td>@disbursementItems[i].UnitRequested</td>
                <td>@disbursementItems[i].UnitIssued</td>
                <td>
                    <input type="range" name="transferQty@(disbursementItems[i].IdDisbursementItem)" id="transferQtyInput@(disbursementItems[i].IdDisbursementItem)" value=0 min="0" max="@disbursementItems[i].UnitIssued" oninput='transferQtyOutput@(disbursementItems[i].IdDisbursementItem).value = transferQtyInput@(disbursementItems[i].IdDisbursementItem).value' />
                    <input type="number" name="transferQty@(disbursementItems[i].IdDisbursementItem)" id="transferQtyOutput@(disbursementItems[i].IdDisbursementItem)" />
                </td>
                <td></td>
            </tr>
            }*@


        </tbody>
    </table>
    <input type="hidden" name="disbId" value="@Model.IdDisbursement" />
    <input type="submit" class="btn btn-success" value="Redistribute and Confirm Delivery" />
}
