@using Team8ADProjectSSIS.Models
@{
    var list = ViewBag.items;
    string searchStr = (string)ViewBag.searchStr;
    var found = false;

    var Emp = ViewData["Emp"] as Employee;

}


<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SSIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Dashboard", "Index", "Employee")</li>
                <li>@Html.ActionLink("Create", "Index", "Employee")</li>
                <li>@Html.ActionLink("Update", "Update", "Employee")</li>
                <li>@Html.ActionLink("Check Status", "Update", "Employee")</li>
                <li>@Html.ActionLink("History", "Update", "Employee")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-bell"></span> <span class="badge badge-pill badge-primary badge-danger">3</span></a></li>
                <li><a href="@Url.Action("Logout","Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div style="margin-top:70px">
    <h3> Hi, @Emp.Title @Emp.Name From @Emp.Department.Name !</h3>
    <p>Please Raise the Stationary Requisiton Here. </p>
</div>
<input type="hidden" id="hdnSession1" value="@Request.RequestContext.HttpContext.Session["IdEmployee"]" />
<input type="hidden" id="hdnSession2" value="@Request.RequestContext.HttpContext.Session["Role"]" />
@Html.Partial("Catalog")


<!--This part is a bit ugly-->
<section class="container content-section">
    <h2 class="section-header">Request Cart</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">Description</span>
        <span class="cart-price cart-header cart-column">Unit</span>
        <span class="cart-quantity cart-header cart-column">Quantity</span>
    </div>
    <div class="cart-items">
        <div class="cart-row">
            <div class="cart-item cart-column">
            </div>
        </div>
    </div>
</section>


@*<button onclick="addToCartClicked()" class="btn btn-primary shop-item-button">Add to request</button>*@

@if (list.Count == 0 || list == null)
{
    <button class="btn-purchase" type="submit" disabled="disabled">Create Request</button>
}
else
{
    <button class="btn-purchase" type="submit">Create Request</button>
}



