@using Team8ADProjectSSIS.Models
@{
    var list = ViewBag.items;
    string searchStr = (string)ViewBag.searchStr;
    var found = false;

    var recentItems = ViewBag.recentItems;
    var Emp = ViewData["Emp"] as Employee;

}


<!DOCTYPE html>
<html>

<head>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="~/Styles/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SSIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Employee")</li>
                    <li>@Html.ActionLink("Create", "Create", "Employee")</li>
                    <li>@Html.ActionLink("Update/Check Status", "Update", "Employee")</li>
                    <li>@Html.ActionLink("History", "History", "Employee")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="noti-logout">
                    <li style="padding-right:8px">
                        <a href="@Url.Action("Notification","Employee")" style="padding-right:0px">
                            <span id="noti-icon" class="glyphicon glyphicon-bell" style="top:4px"><span id="noti-count" class="badge badge-danger">&nbsp;</span></span>

                        </a>
                    </li>
                    <li><a href="@Url.Action("Logout","Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div style="margin-top: 70px;">
        <h3> Hi, @Emp.Title @Emp.Name From @Emp.Department.Name !</h3>
        <p style="font-size: 1.5rem;">Please Raise the Stationary Requisiton Here. </p>
    </div>
    <input type="hidden" id="hdnSession1" value="@Request.RequestContext.HttpContext.Session["IdEmployee"]" />
    <input type="hidden" id="hdnSession2" value="@Request.RequestContext.HttpContext.Session["Role"]" />


    <div class="recent-items">
        <h2 class="recent">
            Recent Items You've Requested
        </h2>






        @if (recentItems.Count == 0 || recentItems == null)
        {
            <h2 class="recent">
                There is no recent requests.
            </h2>
        }
        else
        {
            <div>

                <table class="table">
                    <tr>
                        <th></th>
                        <th>Description</th>
                        <th>Unit</th>

                    </tr>

                    @foreach (Item ite in recentItems)
                    {

                        string des = ite.Description;
                        int id = ite.IdCategory;
                        string unit = ite.unitOfMeasure;
                        int aU = ite.AvailableUnit;

                        <tbody id="myTable">
                            <tr>

                                <td><input type="checkbox" id="chkbox" value="@Html.Raw(@id)"></td>
                                <td><span class="shop-item-title" value="itemName">@Html.Raw(@des)</td>
                                <td><span class="shop-item-price" value="quantity">@Html.Raw(@unit)</td>
                                <td><span class="shop-item-quantity" value="quantity" style="display: none;">@Html.Raw(@aU)</td>
                                <td>
                                    <button class="fa fa-shopping-cart" type="button" name="button" onclick="addToCartRecentClicked()">
                                    </button>

                                </td>

                            </tr>


                        </tbody>
                    }

                </table>
            </div>
        }







    </div>

    @Html.Partial("Catalog")



    <div class="container content-section">
        <h2 style="margin-left: 450px;font-weight: bolder;">Request Cart</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column" style="font-weight: 100;">Description</span>
            <span class="cart-price cart-header cart-column" style="font-weight: 100;">Unit</span>
            <span class="cart-quantity cart-header cart-column" style="font-weight: 100;">Quantity</span>
        </div>
        <div class="cart-items">
            <div class="cart-row">
                <div class="cart-item cart-column">

                </div>


            </div>

        </div>

        @if (list.Count == 0 || list == null)
        {
            <button class="btn-primary btn-purchase" type="submit" disabled="disabled">Create Request</button>
        }
        else
        {
            <button class="btn-primary btn-purchase" type="submit">Create Request</button>
        }

    </div>




    @*<button onclick="addToCartClicked()" class="btn btn-primary shop-item-button">Add to request</button>*@



    @section scripts{
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/EmployeeNotification.js"></script>
    }



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>


