@*Huang Yuzhe*@
@using Team8ADProjectSSIS.Models;
@{
    List<PurchaseOrder> handledPOs = (List<PurchaseOrder>)ViewData["handledPOs"];
    ViewBag.Title = "POHistory - Supervisor";
}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SSIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Dashboard", "Dashboard", "StoreSupervisor")</li>
                <li>@Html.ActionLink("Purchase Order", "PurchaseOrder", "StoreSupervisor")</li>
                <li class="active">@Html.ActionLink("Purchase Order History", "POHistory", "StoreSupervisor")</li>
                <li>@Html.ActionLink("Adjustment Voucher", "Voucher", "StoreSupervisor")</li>
                <li>@Html.ActionLink("Adjustment Voucher History", "VoucherHistory", "StoreSupervisor")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-right:8px">
                    <a href="@Url.Action("Notification","StoreSupervisor")" style="padding-right:0px">
                        <span id="noti-icon" class="glyphicon glyphicon-bell" style="top:4px"><span id="noti-count" class="badge badge-danger">&nbsp;</span></span>

                    </a>
                </li>
                <li><a href="@Url.Action("Logout","Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>


<h2>POHistory</h2>

<input type="hidden" id="hdnSession1" value="@Request.RequestContext.HttpContext.Session["IdEmployee"]" />
<input type="hidden" id="hdnSession2" value="@Request.RequestContext.HttpContext.Session["Role"]" />

@if (handledPOs == null || handledPOs.Count == 0)
{
    <h4 style="color:red"> No purchase order found.</h4>
}
else
{
    <div class="container">
        <table>
            <tr>
                <th>Order Date</th>
                <th>Ordered By</th>
                <th>Supplier</th>
                <th>Total Item</th>
                <th>Status</th>
                <th>Remarks</th>
                <th>Details</th>
            </tr>
            @foreach (PurchaseOrder po in handledPOs)
            {
                <tr>
                    <td>@po.OrderDate</td>
                    <td>@po.StoreClerk.Name</td>
                    <td>@po.Supplier.Name</td>
                    <td>@po.PurchaseOrderDetails.Count</td>
                    <td>@po.Status.Label</td>
                    <td>@po.PurchaseRemarks</td>
                    <td>
                        @Html.ActionLink("Detail", "PurchaseOrderDetail", "StoreSupervisor", new { idPurchaseOrder = po.IdPurchaseOrder }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
}



<style>

    table {
        width: 100%;
        @*box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);*@
        border-collapse: collapse;
        letter-spacing: 1px;
    }

    table, th, tr, td {
        border-bottom: 1px solid #dedede;
        padding: 5px;
        text-align: center;
    }
</style>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/StoreSupervisorNotification.js"></script>
}