@using Team8ADProjectSSIS.Models;
@{
    ViewBag.Title = "VoucherHistory - Supervisor";
    List<StockRecord> vouchers = (List<StockRecord>)ViewData["vouchers"];
    List<float> prices = (List<float>)ViewData["prices"];
    List<string> status = (List<string>)ViewData["status"];
    int i = 0;
}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SSIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Dashboard", "Dashboard", "StoreSupervisor")</li>
                <li>@Html.ActionLink("Purchase Order", "PurchaseOrder", "StoreSupervisor")</li>
                <li>@Html.ActionLink("Purchase Order History", "POHistory", "StoreSupervisor")</li>
                <li>@Html.ActionLink("Adjustment Voucher", "Voucher", "StoreSupervisor")</li>
                <li class="active">@Html.ActionLink("Adjustment Voucher History", "VoucherHistory", "StoreSupervisor")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-right:8px">
                    <a href="@Url.Action("Notification","StoreSupervisor")" style="padding-right:0px">
                        <span id="noti-icon" class="glyphicon glyphicon-bell" style="top:4px"><span id="noti-count" class="badge badge-danger">&nbsp;</span></span>

                    </a>
                </li>
                <li><a href="@Url.Action("Logout","Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<h2>Voucher History</h2>

<input type="hidden" id="hdnSession1" value="@Request.RequestContext.HttpContext.Session["IdEmployee"]" />
<input type="hidden" id="hdnSession2" value="@Request.RequestContext.HttpContext.Session["Role"]" />

@if (vouchers == null || vouchers.Count == 0)
{
    <h4 style="color:red"> No voucher found.</h4>
}
else
{
    <div class="container">
        <table>
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Single Price
                </th>
                <th>
                    Store Clerk
                </th>
                <th>
                    Reason
                </th>
                <th>
                    Status
                </th>
            </tr>
            @foreach (StockRecord voucher in vouchers)
            {
                <tr>
                    <td>
                        @voucher.Item.Description
                    </td>
                    <td>
                        @voucher.Unit
                    </td>
                    <td>
                        @prices[i]
                    </td>
                    <td>
                        @voucher.StoreClerk.Name
                    </td>
                    <td>
                        @voucher.Operation.Label
                    </td>
                    <td>
                        @status[i]
                    </td>
                </tr>
                i++;
            }
        </table>
        <input type="button" class="btn btn-primary" value="Back"
               onclick="location.href='@Url.Action("Voucher", "StoreSupervisor")'" style="margin-top:24px" />
    </div>
}



<style>

    table {
        width: 100%;
        @*box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);*@
        border-collapse: collapse;
        letter-spacing: 1px;
    }

    table, th, tr, td {
        border-bottom: 1px solid #dedede;
        padding: 5px;
        text-align: center;
    }
</style>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/StoreSupervisorNotification.js"></script>
}