@using Team8ADProjectSSIS.Models;
@{
    ViewBag.Title = "History";
    var disbursements = ViewBag.disbursements;
    var searchContext = ViewBag.searchContext;
}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SSIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Disbursement", "Home", "DepartmentRepresentative")</li>
                <li class="active">@Html.ActionLink("History", "History", "DepartmentRepresentative")</li>
                <li>@Html.ActionLink("Collection Point", "CollectionPoints", "DepartmentRepresentative")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-right:8px">
                    <a href="@Url.Action("Notification","DepartmentRepresentative")" style="padding-right:0px">
                        <span id="noti-icon" class="glyphicon glyphicon-bell" style="top:4px"><span id="noti-count" class="badge badge-danger">&nbsp;</span></span>

                    </a>
                </li>
                <li><a href="@Url.Action("Logout","Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<h2 class="text-center">Disbursement History</h2>
<input type="hidden" id="hdnSession1" value="@Request.RequestContext.HttpContext.Session["IdEmployee"]" />
<input type="hidden" id="hdnSession2" value="@Request.RequestContext.HttpContext.Session["Role"]" />
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-search" type="button" onclick="onSearchClick()"></button>
            </span>
            <input id="input" type="text" class="form-control" placeholder="Search" value="@searchContext">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>

<table style="margin-top:30px">
    <tr>
        <th>COLLECTION DATE</th>
        <th>COLLECTION POINT</th>
        <th>DELIVERY BY</th>
        <th>COLLECTION BY</th>
        <th>OPERATION</th>
    </tr>
    @foreach (Disbursement d in disbursements)
    {
        CollectionPoint cp = d.CollectionPoint;
        Employee collectedBy = d.CollectedBy;
        Employee disbursedBy = d.DisbursedBy;
        <tr>
            <td>@d.Date</td>
            <td>@cp.Location</td>
            <td>@disbursedBy.Name</td>
            <td>@collectedBy.Name</td>
            <td><a class="btn btn-default" href="Details?idDisbursement=@d.IdDisbursement" role="button">Details</a></td>
        </tr>
    }
</table>


<style>
    table {
        width: 100%;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        border-collapse: collapse;
        letter-spacing: 1px;
    }

    table, th, tr, td {
        border-bottom: 1px solid #dedede;
        padding: 5px;
        text-align: center;
    }
</style>

<script type="text/javascript">
    function onSearchClick() {
        var input = $("#input");
        var value = input.val();
        console.log("value", value);
        self.location.href = 'History?searchContext=' + value;

    }


</script>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/DepartmentRepresentativeNotification.js"></script>
}