@model Team8ADProjectSSIS.Models.PurchaseOrder
@using Team8ADProjectSSIS.Models;
@{
    ViewBag.Title = "POHistory - Manager";
    List<PurchaseOrder> AllPO = (List<PurchaseOrder>)ViewData["AllPO"];
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="jumbotron jumbotron-fluid" style="padding:32px; margin-top:16px">
    <div class="container">
        <h2><b>Purchase Order History</b></h2>
        <p>You can view the details of each Purchase Order here!</p>
    </div>
</div>
<div class="row">
    <input class="form-control" id="myInput" type="text" placeholder="Search.." style="margin-left:15px">
</div>
<br />
@if (AllPO == null || AllPO.Count == 0)
{
    <h4 style="color:red"> No purchase order found.</h4>
}
else
{
<table>
    <tr>
        <th style="width:10%">Purchase Order Id</th>
        <th>Supplier</th>
        <th style="width:10%">Approved Date</th>
        <th style="width:10%">Order Date</th>
        <th style="width:10%">DeliverDate</th>
        <th>Status</th>
        <th>Remarks</th>
        <th>Details</th>
    </tr>
    <tbody id="myTable">
        @foreach (PurchaseOrder i in AllPO)
        {
            <tr>
                <td>@i.IdPurchaseOrder</td>
                <td>@i.Supplier.CodeSupplier</td>
                <td>@i.ApprovedDate</td>
                <td>@i.OrderDate</td>
                <td>@i.DeliverDate</td>
                <td>@i.Status.Label</td>
                <td>@i.PurchaseRemarks</td>
                <td>@Html.ActionLink("View", "PODetails", "StoreManager", new { IdPurchaseOrder = i.IdPurchaseOrder }, null)</td>
            </tr>
        }
    </tbody>
</table>
}


<style>

    table {
        width: 100%;
        @*box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);*@
        border-collapse: collapse;
        letter-spacing: 1px;
    }

    table, th, tr, td {
        border-bottom: 1px solid #dedede;
        padding: 5px;
        text-align: center;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>