@using Team8ADProjectSSIS.Models;
@{
    ViewBag.Title = "Suppliers";
    List<Supplier> suppliers = (List<Supplier>)ViewBag.suppliers;
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="container-fluid">
    <div class="text-center" style="font-size:50px; margin-top:45px">TOP-3 SUPPLIERS</div>
    <div class="row" style="height:400px; margin-top:30px">
        @foreach (Supplier s in suppliers)
        {
            <div class="col-sm-3" style="margin-left:6%">
                <div class="card text-center" style="height:100%">

                    <div class="card-body">
                        <h3 class="card-title">@s.Name</h3>
                        <hr />
                        <p>Contact Person: @s.ContactTitle. @s.ContactName</p>
                        <p>Tel: @s.Tel</p>
                        <p>Fax: @s.Fax</p>
                        <p>Address: @s.Address</p>
                        <p>Register No.: @s.RegisNo</p>
                        <a href="#" class="btn btn-primary stretched-link">Contact us</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



